<section>
    <div class="container">
        <form action="/admin/edit-profile" method="POST" >
            <div class="row w-50 mt-4">
                <div class="text-center w-100">
                    <h3 class="font-weight-bold">Edit Profile</h3>
                </div>
                <div class="col-12">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" value="{{data.email}}"  />
                </div>
                {{!-- <div class="col-12">
                    <label>Category</label>
                    <input type="text" class="form-control" name="category" value="{{product.category}}" />
                </div>
                <div class="col-12">
                    <label>Price</label>
                    <input type="text" class="form-control" name="price" value="{{product.price}}" />
                </div> --}}
                {{!-- <div class="col-12">
                    <label>Description</label>
                    <input type="text" class="form-control" name="description" value="{{category.description}}" />
                </div> --}}
                {{!-- <div class="col-12">
                    <label>Password</label>
                    {{!-- <img src="/category-images/{{category._id}}.jpg" style="width: 100px;height: auto;    width: 101px; padding-top: 2rem; padding-bottom: 2rem; margin-left: 2rem; height: auto;" id="imgViewCat"> --}}
                    {{!-- <input type="password" class="form-control" name="password" />
                </div> --}}
                <div class="ml-3" style="padding-bottom:2rem">
                    <button type="submit" class="btn btn-success mt-3">Update</button>
                </div>
            </div>
        </form>
    </div>
</section>

