{{!-- <header style="padding-bottom: 3.5rem;">
  <nav class="navbar navbar-expand-md navbar-light" style="position: fixed;width: 100%;z-index: 50;background-color: #0c102e;">
    <a class="navbar-brand" href="/"><span style="color: #20db63;">Explo</span><span style="color: white;">Kart</span></a>
    <button class="navbar-toggler" style="background-color: darkgray;" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="justify-content:flex-end;align-content:center;">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-center text-white" href="/">Products<span class="sr-only">(current)</span></a>
        {{#if user}}
        <a class="nav-item nav-link text-center text-white" href="/orders">Orders</a>
        {{/if}}
        <a class="nav-item nav-link text-center text-white" href="/cart"><i class="fas fa-shopping-cart"></i>Cart<span class="badge badge-pill badge-danger ml-1" id="cart-increase-count">{{cartCount}}</span></a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-center text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{#if user}}
            {{user.name}}
            {{else}}
            Account
            {{/if}}
          </a>
          <div class="dropdown-menu enteStYlE " id="enteStYlE" aria-labelledby="navbarDropdown"
            style=" position: absolute;top: 50px;right: 25px;left: auto;">
            {{#if user}}
            <a class="dropdown-item" href="/logout">LogOut</a>
            <a class="dropdown-item" href="/edit-profile">Edit</a>
            <a class="dropdown-item" href="admin/">Admin</a>
            {{else}}
            <a class="dropdown-item" href="/login">Login</a>
            <a class="dropdown-item" href="/signup">SignUp</a>
            <a class="dropdown-item" href="/admin">Admin</a>
            {{/if}}
          </div>
        </li>
      </div>
    </div>
  </nav>
</header> --}}



<header style="padding-bottom: 3.5rem;">
    <nav class="navbar navbar-expand-md navbar-light bg-light" style=" position:  fixed;top:0px;width: 100%;z-index: 50;  box-shadow: 0px 0px 7px 1px #9d9d9d;">
      <div class="nav-logo">
        <div>
          <a style="    padding-left: 19px;;" class="navbar-brand" href="/" >AHLBYT</a>
      
        </div>
        {{!-- <div class="account-space">
          
            <a style="      " class="navbar-brand btn account-space-l"  href="">Log In</a>
            <a style="" class="navbar-brand btn btn-primary account-space-r"  href="">Sign Up</a>
          
        </div> --}}
      </div>
      <button style="border: none;" class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto" style="text-align: center;">
          <li class="nav-item ">
            <a class="nav-link" style="font-size: 15px;" href="#">HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size: 15px;" href="#">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size: 15px;" href="#">CONTACT ME</a>
          </li>
          {{#if user}}
          <li class="nav-item">
            <div>
{{!--               
              <div>
                <span><sup>Welcome</sup></span>
              </div> --}}
              {{!-- <div> --}}
                <a class="nav-link n" style="font-size: 15px;" href="#">{{user.name}}</a>
              {{!-- </div> --}}
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size: 15px;" href="/logout">LOGOUT</a>
          </li>
            {{else}}
              {{!-- <li class="nav-item">
            <a class="nav-link" style="font-size: 15px;" href="/login">SIGNUP</a>
          </li> --}}
          <li>
            <div class="account-space">
              <a style="" class="navbar-brand btn account-space-l"  href="/login">Log In</a>
              <a style="" class="navbar-brand btn btn-primary account-space-r"  href="/signup">Sign Up</a>
            </div>
          </li>
          {{/if}}
            
        </ul>
      </div>
    </nav>
</header>
<style>
  .nav-log{
    display: flex;
    /* background-color: aqua; */
    width: 79%;
    align-items: center;
    justify-content: space-between;
    align-content: center;
  }
  .account-space-l{
        margin-left: 10px;
        margin-right: 0px;
    color: black;
    font-size: 16px;
    border: 1px solid #bbb5b5;
    font-size: 14px;
  }
  .account-space-r
  {
        color: white!important;
    font-size: 16px;
    margin-right: 0px;
  }
  .n{
        border-radius: 7px;
            border: 1px solid #d7cfcf;
    margin: 0px 3px;
    font-size: 15px;
    /* background-color: #edebeb; */
    color: #646161;
    
  }


</style>

{{!-- 
<header style="padding-bottom: 3.5rem;">
    <nav class="navbar navbar-expand-md navbar-light bg-light" style=" position:  fixed;top:0px;width: 100%;z-index: 50;  box-shadow: 0px 0px 7px 1px #9d9d9d;">
      <a style="    padding-left: 19px;" class="navbar-brand" href="/">AHLBYT</a>
      <button style="border: none;" class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto" style="text-align: center;">
          <li class="nav-item ">
            <a class="nav-link" style="font-size: 15px;" href="#">HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size: 15px;" href="#">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size: 15px;" href="#">CONTACT ME</a>
          </li>
          {{#if user}}
          <li class="nav-item">
            <a class="nav-link" style="font-size: 15px;" href="#">{{user.name}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size: 15px;" href="/logout">LOGOUT</a>
          </li>
            {{else}}
              <li class="nav-item">
            <a class="nav-link" style="font-size: 15px;" href="/login">SIGNUP</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </nav>
</header> --}}