<section>
  <div class="container">
    {{#if products}}
    <table class="table mt-4">
      <thead class="">
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr>
          <td><img style="width:50px;height:50px" src="/product-images/{{this.product._id}}.jpg" alt="" />
          </td>
          <td>{{this.product.name}}</td>
          <td>{{this.product.price}}</td>
          <td>
            <h6></h6>
            <button class="cart-item-count mr-3" style="color: white; */border: none;color: black;font-size: 21px;"
              onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
            <span id="{{this.product._id}}">{{this.quantity}}</span>
            <button class="cart-item-count ml-3" style="border: none;color: black;font-size: 21px;"
              onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
          </td>
          <td>
            <a class="btn bg-danger text-white"
              onclick="DeleteProductFromCart('{{this._id}}','{{this.product._id}}')">Delete</a>
          </td>
        </tr>
        {{/each}}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="float-right pr-5 text-center mt-2 mr-4">
      <h5 class="float-left mr-5 w-100">Total : Rs.
        {{#each total}}
        <span id="total">{{this.total}} </span>
        {{/each }}
      </h5><br>
      <a href="/place-order" class="btn btn-success text-white w-100">Place Order</a>
    </div>
    {{else}}
    <h2 class="mt-5">Cart is empty !!</h2>
    {{/if}}
  </div>
</section>



<script>
  function changeQuantity(cartId, proId, userId, count) {
    let quantity = parseInt(document.getElementById(proId).innerHTML)
    count = parseInt(count)
    $.ajax({
      url: '/change-product-quantity',
      data:
      {
        userId: userId,
        cartId: cartId,
        ProductId: proId,
        count: count,
        quantity: quantity
      },
      method: 'post',
      success: (response) => {
        if (response.RemoveProduct) {
          alert('Product Remove is successfully ')
          location.reload()
        } else {
          document.getElementById(proId).innerHTML = quantity + count
          document.getElementById('total').innerHTML = response.total
        }
      }
    })
  }
  function DeleteProductFromCart(cartId, productId) {
    $.ajax({
      url: '/remove-product-from-cart',
      data:
      {
        cartId: cartId,
        productId: productId,
      },
      method: 'post',
      success: (response) => {
        if (response.RemoveProduct) {
          alert('Product Remove is successfully ')
          location.reload()
        }
      }
    })
  }
</script>