{{!-- <section class="w-100 text-center">
  <div class="container">
    <div class="row">
      {{#each products}}
      <div class="col-13 col-sm-6 col-md-3 mt-4 mr-0 mb-4 w-100 text-center">
        <div class="card text-center w-100" style="width: 13rem; height: 24rem;">
          <div class="text-center mt-3">
            <img class="card-img-top" src="/product-images/{{this.product._id}}.jpg" alt="Loading..." style="width: 7rem;height: 8rem;">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{this.product.name}}</h5>
            <p class="card-text">{{this.product.price}}</p>
            <p class="card-text">Quantity:{{this.quantity}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>


 --}}
{{!-- <div class="hover" style="width: 100%;margin-bottom: 25px;/* background-color: skyblue; */display: flex;height: 55px;align-items: center;padding: 35px 0px;border: 1px solid #dfdcdc;border-radius: 12px;justify-content: space-between;">
          <div style="    display: flex;
    align-items: center;
    padding: 30px;">
            <div style="    padding: 9px;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtOUcQ6iKGieAl2ACrr2NeWTzhlJXJ3WtJE2pljzO6pQ&s" width="65px " height="50px" alt="">
            </div>
            <div>
               <p style="margin-top: unset;margin-bottom: unset;font-weight: 500;font-size: 18px;font-weight: 900">haloooo</p>
            </div>
          </div>
          <div style="width: -3px;padding-right: 21px;">
            <a style="border-radius: 24px;border: 1px solid green;background-color: white;color: green;width: 100px;" class="btn button" href="">click me</a>
          </div>
        </div> --}}



{{!-- <section>
    <div class="container-fluid">
      <div class="row" style="margin: 20px 30px;margin-top:60px">
        {{#each response}}
        <div class="hover" style="width: 100%;margin-bottom: 25px;/* background-color: skyblue; */display: flex;height: 55px;align-items: center;padding: 35px 0px;border: 1px solid #dfdcdc;border-radius: 12px;justify-content: space-between;">
          <div style="    display: flex;align-items: center;padding: 30px;">
            <div style="padding: 9px;">
              <img src="" width="65px " height="50px" alt="">
            </div>
            <div>
               <p style="margin-top: unset;margin-bottom: unset;font-weight: 500;font-size: 18px;font-weight: 900">{{this.name}}</p>
            </div>
          </div>
          <div style="width: -3px;padding-right: 21px;">
            <a style="border-radius: 24px;border: 1px solid green;background-color: white;color: green;width: 100px;" class="btn button" href="">click me</a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
  
  
  
  
   --}}









 {{!-- <section>
  <div class="container-fluid" style="">
    <div class="row" style="margin-left: 15px;margin-top: 40px;"> 
        <div class="col-5 card col-sm-5 col-md-3 col-lg-2 transform hover" style="margin: 10px 15px;margin: 10px 15px;border: 1px solid #c1bbbb;   ">
          <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4j5luRRSrv9VgkhvRWfXz1jk2Q4eHPvOasnG3qcOG_w&s" alt="">
          </div>
          <div class="card-body" style="">
            <h5 style="font-weight: 600;" class="card-title text-center">muhammad nihad otttt</h5>
          </div>
      </div>
    </div>
  </div>
</section>  --}}
 {{!-- {{#if SubCat}} --}}
      {{!-- {{#each SubCat}} --}}
          {{!-- <a href="/subcategories/{{this._id}}/{{this.name}}" style="text-decoration: none;color: black;cursor: pointer;"> --}}
          {{!-- </a> --}}
      {{!-- {{/each}} {{this.name}} --}}
      {{!-- {{else}} --}}
      {{!-- <h4>No data available!</h4> --}}
  {{!-- {{/if}} --}}




{{!-- <section>
  <div class="container">
    <div class="row">
      <div style="/* background-color: aqua; */width: auto;display: flex;flex-direction: row;align-items: center;text-align: center;padding-left: 20px;/* padding: 9px; */border-radius: 13px;border: 1px solid #efe7e7;box-shadow: 0px 0px 16px 3px #e5e5e5;">
        <div>
            <img width="60px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4j5luRRSrv9VgkhvRWfXz1jk2Q4eHPvOasnG3qcOG_w&s" alt="">
          </div>
          <div class="card-body" style="">
            <h5 style="font-weight: 600;" class="card-title text-center"></h5>
          </div>
      </div>
    </div>
  </div>
</section> --}}



  <section>
    <div class="container-fluid">
      <div class="row" style="margin: 20px 30px;margin-top:60px">
        {{#each response}}
        <div class="hover" style="width: 100%;margin-bottom: 25px;/* background-color: skyblue; */display: flex;height: 55px;align-items: center;padding: 35px 0px;border: 1px solid #dfdcdc;border-radius: 12px;justify-content: space-between;    box-shadow: 0px 0px 18px 4px #e9e4e4;">
          <div style="    display: flex;align-items: center;padding: 30px;width: 100%;">
            <div style="padding: 9px;">
              <img src="/category-images/{{this._id}}.jpg" width="65px " height="50px" alt="">
            </div>
            {{!-- <div>{{this._id}}</div> --}}
            <div style="width: 100%;text-align: center;">
               <p style="margin-top: unset;margin-bottom: unset;font-weight: 500;font-size: 18px;font-weight: 900">{{this.name}}</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
          {{!-- <div style="width: -3px;padding-right: 21px;">
            <a style="border-radius: 24px;border: 1px solid green;background-color: white;color: green;width: 100px;" class="btn button" href="/subcategories/{{this._id}}/{{this.name}}">click me</a>
          </div> --}}

  <style>
    .hover:hover {
      border: 1px solid green !important;
      transform: scale(1.0);
    }

    .button:hover {
      background-color: green !important;
      color: white !important;
    }
    @media (max-width:440px){
      .hover{
        width: auto !important;
      }
    }
  </style>