<section style="padding-top: 3rem;">
  <div class="container" style="overflow-x: scroll;">
    <table class="table mt-4" style="box-shadow: 0px 0px 10px 0px #8b8b8b;">
      {{#if orders}}
      <thead class="text-center" style="background-color: #d1d1d1;">
        <tr style="background-color: #d1d1d1;">
          <th scope="col">Date</th>
          <th scope="col">Address</th>
          <th scope="col">Mobile</th>
          <th scope="col">Pin</th>
          <th scope="col">Amount</th>
          <th scope="col">Payment</th>
          <th scope="col">Status</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders}}
        <tr>
          <td>{{this.date}}</td>
          <td>{{this.deliveryDetails.address}}</td>
          <td>{{this.deliveryDetails.mobile}}</td>
          <td>{{this.deliveryDetails.pincode}}</td>
          <td>{{this.totalAmount}}</td>
          <td>{{this.paymentMethod}}</td>
          <td>{{this.status}}</td>
          {{!-- <td>{{this.produtc}}</td> --}}
          <td><a href="/order-products/{{this._id}}" class="btn btn-primary">View Product</a></td>
        </tr>
        {{/each}}
      </tbody>
      {{else}}
      <h2 class="mt-5">No Orders </h2>
      {{/if}}
    </table>
  </div>
</section>