{{!-- <section class="w-100 text-center">
  <div class="container">
    <div class="row">
      {{#if product}}
      <div class="col-13 col-sm-6 col-md-3 mt-4 mr-0 mb-4 w-100 text-center">
        <div class="card text-center w-100" style="width: 13rem; height: 24rem;">
          <div class="text-center mt-3">
            <a href="product-details/{{this._id}}">
              <img class="card-img-top" src="/product-images/{{product._id}}.jpg" alt="Loading..."
              style="width: 7rem;height: 10rem;">
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
            <p class="card-text">{{product.price}}</p>
            <div class="text-center">
              {{!-- <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add Cart</button> --}}
            {{!-- </div>
          </div>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</section> --}} 

<section>
    <div class="container">
        <div class="row" style="padding-top: 7rem;">     {{!     justify-content: space-around;     }}
             {{#if product}}
            <div class="col-lg-6 text-center">
                <img class="card-img-top" src="/product-images/{{product._id}}.jpg" alt="Loading..."style="width: 13rem;height: 18rem;">
            </div>
            <div class="col-lg-6" style="padding-top: 4rem;">
                <h3>{{product.name}}</h3>
                <p>{{product.category}}</p>
                <p>Price.{{product.price}}</p>
                <h4>About Product</h4>
                 <p style="overflow-wrap: break-word;">{{product.about}}</p>
               
                <div style="text-align: end;padding: 18px 5px;">
                  <button onclick="addToCart('{{product._id}}')" class="btn btn-primary ">Add Cart</button>
                </div>
                {{!-- <p class="" style="overflow-wrap:break-word;">cnnnnddfdddddddddddddddddddddddddddddddhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhnnddfdddddddddddddddddddddddddddddddhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</p> --}}
            </div>
            {{/if}}
        </div>
    </div>
</section>

{{!-- <li>{{product.about}}</li> --}}
{{!-- <script>
    function addToCart(prodId) {
    $.ajax({
      url: '/add-to-cart/' + prodId,
      method: 'get',
      success: (response) => {
        if (response.status) {
          let count = $('#cart-increase-count').html()
          console.log(count)
          count = parseInt(count) + 1
          console.log(count)
          $('#cart-increase-count').html(count)
        }else{
          //alert('else')
          location.href='/login'
         
        }
      }
    })
  }
</script> --}}