<section>
  <div class="container">
    <div class="row" style="padding-top: 7rem;">
      {{#if product}}
      <div class="col-lg-6 text-center">
        <img class="card-img-top" src="/product-images/{{product._id}}.jpg" alt="Loading..." style="width: 13rem;height: 18rem;">
      </div>
      <div class="col-lg-6" style="padding-top: 4rem;">
        <h3>{{product.name}}</h3>
        <p>{{product.category}}</p>
        <p>Price.{{product.price}}</p>
        <h4>About Product</h4>
        <p style="overflow-wrap: break-word;">{{product.about}}</p>
        <div style="text-align: end;padding: 18px 5px;">
          <button onclick="addToCart('{{product._id}}')" class="btn btn-primary ">Add Cart</button>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</section>