<section style="padding-top: 3rem;">
  <div class="container">
    <div class="row col-12 text-center">
      <div class="text-center w-100" style="background-color: #b1473b;">
        <img class="text-center" src="images/home-furnishing.jpg" alt="">
      </div>
    </div>
    <div class="row">
      {{#each Products}}
      <div class="col-4 pt-5">
        <div style="text-align: end;">
          <a href="product-details/{{this._id}}">
            <img class="card-img-top" src="/product-images/{{this._id}}.jpg" alt="Loading..." style="width: 10rem;height: 14rem;">
          </a>
        </div>
      </div>
      <div class="col-6">
        <div style="padding-top:5rem">
          <h4>{{this.name}}</h4>
          <h5>Rs.<sup>₹</sup><span style="color: red;">{{this.price}}</span></h5>
          <p>{{this.description}}</p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>